*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
}

h1 {
  color: rgb(153, 0, 255);
}

.card {
  background-color: antiquewhite;
  color: black;
  padding: 0.5rem;
  border-radius: 10px;
}

.card img {
  height: 8em;
  width: 8em;
}

.grid {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}
